{% load static %}
{% load embed_video_tags %}
<header class="big-header">
    <div class="wrapper">
        <a href="{% url 'home' %}">
            <img src="{% static "img/logo.svg" %}" alt="arlefreak">
        </a>
        {% include 'menu.html' %}
    </div>
    <div class="header-video-wrapper">
        <div class="video-wrapper">
            {% video header_video "large" template_name="header_video.html" query="enablejsapi=1&autoplay=1&controls=0&loop=1&modestbranding=1&showinfo=0" %}
        </div>
    </div>
</header>
<div class="clearfix"></div>
