{% load static %}
<footer>
    <div class="wrapper">
        <nav class="nav-menu">
            <ul>
                {% for page in footer_menu %}
                <li>
                    <a class="{% if page.active %} active{% endif %}"
                    href="{{page.url}}" title="{{page.name}}">{{page.name}}</a>
                </li>
                {% endfor %}
            </ul>
        </nav>
        <nav class="nav-menu footer-info">
            <ul>
                <li><strong>VICENTE GARCIA TORRES #120, COYOACAN, 04030, CDMX, MEXICO</strong></li>
                <li>+52 (55) 5658 9099 / +52 (55) 5658 9154</li>
                <li><a href="">info@arte7.net</a></li>
            </ul>
        </nav>
    </div>
    <div class="wrapper">
        <span class="copy">ARTE 7 TODOS LOS DERECHOS RESERVADOS ©2017</span>
        <div class="canon">
            <span>CON EL APOYO DE</span>
            <img src="{% static "img/logo_canon.svg" %}" alt="canon">
        </div>
        <nav class="social">
            <ul>
                <li><a href="https://instagram.com/" class="button"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://www.facebook.com/" class="button"><i class="fa fa-facebook-official"></i></a></li>
                <li><a href="https://vimeo.com/" class="button"><i class="fa fa-vimeo"></i></a></li>
            </ul>
        </nav>
    </div>
</footer>
