{% extends "base.html" %}
{% load solo_tags %}
{% load static %}
{% block header %}
{% get_solo 'cms.CarreraDeCine' as carrera %}
{% include 'big_header.html' with header_video=carrera.video %}
{% endblock %}

{% block header-refs %}
<link rel="stylesheet" type="text/css" href="{% static "lib/css/slick.min.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "lib/css/lity.min.css" %}"/>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>
{% endblock %}

{% block content %}
{% get_solo 'cms.CarreraDeCine' as carrera %}
<main class="black-background">
    <div class="black-wrapper">
        <ul class="titles-slide">
            {% for item in list_frases %}
            <li>
                <h1>{{ item.title }}</h1>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="margin"></div>
    <div class="wrapper">
        <section class="messages">
            {% for item in "xxxx"%}
            <article class="red-message">
                <a href="">
                    <h3>EXAMEN DE ADMISIÓN PARA CARRERA DE CINE</h3>
                    <div class="rich-text">
                        Examen de admisión para carrera de cine. Lunes 21 de abril.
                    </div>
                </a>
            </article>
            {% endfor %}
        </section>
        <div class="margin"></div>
        <section class="mosaicos">
            {% for item in "xxxxxx"%}
            <article>
                <div class="cover">
                    <img src="http://placehold.it/350x200" alt="image">
                    <a href=""></a>
                </div>
                <h3>carrera de cine</h3>
            </article>
            {% endfor %}
        </section>
    </div>
</main>
{% endblock %}

{% block footer-refs %}
<script type="text/javascript" src="{% static "lib/js/slick.min.js" %}"></script>
<script>
    $('.titles-slide').slick({
        dots: false,
        infinite: true,
        speed: 500,
        fade: true,
        cssEase: 'linear',
        autoplay: true,
        autoplaySpeed: 2000,
    });
</script>
{% endblock %}
