{% extends "base.html" %}
{% load solo_tags %}
{% load static %}
{% block header %}
{% get_solo 'cms.CarreraDeCine' as carrera %}
{% include 'big_header.html' with header_video=carrera.video %}
{% endblock %}

{% block header-refs %}
<link rel="stylesheet" type="text/css" href="{% static "lib/css/slick.min.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "lib/css/lity.min.css" %}"/>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>
{% endblock %}

{% block content %}
{% get_solo 'cms.CarreraDeCine' as carrera %}
<main class="black-background">
    <div class="black-wrapper">
        <ul class="titles-slide">
            {% for item in list_frases %}
            <li>
                <h1>{{ item.title }}</h1>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="margin"></div>
    <div class="wrapper">
        <section class="messages">
            {% for item in list_messages %}
            <article class="red-message">
                <a href="{{ item.url }}">
                    <h3>{{ item.title }}</h3>
                    <div class="rich-text">
                        {{ item.description | safe }}
                    </div>
                </a>
            </article>
            {% endfor %}
        </section>
        <div class="margin"></div>
        <section class="mosaicos">
            {% for item in list_mosaicos %}
            <article>
                <div class="cover">
                    <img src="{{ item.image.url }}" alt="{{ item.title }}">
                    <a href="{{ item.url }}"></a>
                </div>
                <h3>{{ item.title }}</h3>
            </article>
            {% endfor %}
        </section>
    </div>
</main>
{% endblock %}

{% block footer-refs %}
<script type="text/javascript" src="{% static "lib/js/slick.min.js" %}"></script>
<script>
    $('.titles-slide').slick({
        dots: false,
        infinite: true,
        speed: 500,
        fade: true,
        cssEase: 'linear',
        autoplay: true,
        autoplaySpeed: 5000,
    });
</script>
<script>
    $(function() {
        var messages = $('.messages .red-message');
        var count = 0;

        function timeout(time) {
            window.setTimeout(()=> {
                console.log(messages);
                $.map(messages, element => element.className = 'red-message');

                console.log(count);
                messages[count].className = 'red-message active';
                count ++;
                if(count > messages.length - 1)
                    count = 0;
            }, 500);

            window.setTimeout(()=> {
                timeout(time);
            }, time);
        }
        timeout(2000);
    });
</script>
{% endblock %}
