{% extends "base.html" %}
{% block content %}
<main>
    <div class="margin"></div>
    <div class="margin"></div>
    <h1>Directiva</h1>
    <div class="margin"></div>
    <div class="wrapper personal-grid">
        {% for item in list_directiva %}
        <article>
            <div class="avatar" style="background-image: url('{{item.image.url}}')"></div>
            <div class="info">
                <h3>{{ item.name }}</h3>
                <h4>{{ item.role }}</h4>
                <div class="rich-text">
                    {{ item.description | safe }}
                    {% if item.url %}
                    <div class="margin"></div>
                    <a href="{{ item.url }}">Filmografía</a>
                    {% endif %}
                </div>
            </div>
        </article>
        <div class="margin"></div>
        <div class="margin"></div>
        {% endfor %}
    </div>
    <h1>Plantilla docente</h1>
    <div class="margin"></div>
    <div class="margin"></div>
    <div class="wrapper personal-grid">
        {% for item in list_docente %}
        <article>
            <div class="avatar" style="background-image: url('{{item.image.url}}')"></div>
            <div class="info">
                <h3>{{ item.name }}</h3>
                <h4>{{ item.role }}</h4>
                <div class="rich-text">
                    {{ item.description | safe }}
                    {% if item.url %}
                    <div class="margin"></div>
                    <a href="{{ item.url }}">Filmografía</a>
                    {% endif %}
                </div>
            </div>
        </article>
        <div class="margin"></div>
        <div class="margin"></div>
        {% endfor %}
    </div>
</main>
{% endblock %}
