@import 'nib'
@import 'lib/*'

global-reset()

html
body
    margin 0
    padding 0
    /* min-width 1024px */
    color $white
    background $colorBg
    font-family $font

@import 'content'
@import 'components/*'

.hide-mobile
    @media screen and (max-width: $tablet-width)
        display none !important

.hide-tablet
    @media screen and (max-width: $tablet-width)
        display none !important

.hide-desktop
    @media screen and (min-width: $tablet-width)
        display none !important
