@font-face
    font-family 'Akzidenz Grotesk'
    font-style normal
    font-weight 500
    src url('../fonts/AkzidenzGrotesk-Regular.otf') format('opentype');
@font-face
    font-family 'Akzidenz Grotesk'
    font-style italic
    font-weight 500
    src url('../fonts/AkzidenzGrotesk-Italic.otf') format('opentype');

@font-face
    font-family 'Akzidenz Grotesk'
    font-style normal
    font-weight 600
    src url('../fonts/AkzidenzGrotesk-Medium.otf') format('opentype');
@font-face
    font-family 'Akzidenz Grotesk'
    font-style italic
    font-weight 600
    src url('../fonts/AkzidenzGrotesk-MediumItalic.otf') format('opentype');

@font-face
    font-family 'Akzidenz Grotesk'
    font-style normal
    font-weight 700
    src url('../fonts/AkzidenzGrotesk-BoldExtended.otf') format('opentype');
@font-face
    font-family 'Akzidenz Grotesk'
    font-style italic
    font-weight 700
    src url('../fonts/AkzidenzGrotesk-BoldExtendedItalic.otf') format('opentype');

$font = 'Akzidenz Grotesk', helvetica, monaco, monospaced
