{% extends "base.html" %}
{% load static %}
{% load solo_tags %}
{% load embed_video_tags %}
{% block header %}
{% get_solo 'cms.productora' as item %}
{% include 'big_header.html' with header_video=item.video %}
{% endblock %}
{% block header-refs %}
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>
{% endblock %}
{% block content %}
{% get_solo 'cms.productora' as item %}
{% get_solo 'cms.publicidad' as publicidad %}
<main>
    <div class="black-wrapper">
        <h1>Productora</h1>
    </div>
    <div class="margin"></div>
    <div class="wrapper">
        <div class="big">
            {{ item.description | safe }}
        </div>
    </div>
</main>

<div class="margin"></div>

<main class="gray-bg padding-top padding-bottom">
    <div class="wrapper">
        <h1>FILMOGRAFÍA</h1>
    </div>
    <div class="wrapper film-slider">
        {% for item in list %}
        <article>
            <div class="cover">
                <img src="{{ item.image.url }}" alt="poster">
            </div>
            <div class="info">
                <h3>{{ item.title }}</h3>
                <div class="rich-text">
                    {{ item.description | safe }}
                </div>
            </div>
        </article>
        {% endfor %}
    </div>
</main>
<div class="margin"></div>
<main>
    <div class="wrapper">
        <h1>publicidad</h1>
        <div class="big">
            {{ publicidad.description | safe }}
        </div>
        <div class="margin"></div>
        <h1>demo real</h1>
        <div class="video-wrapper">
            {% video publicidad.video large %}
        </div>
    </div>
</main>
<div class="margin"></div>

{% endblock %}

{% block footer-refs %}
<script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
crossorigin="anonymous">
</script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<script>
    $('.film-slider').slick({
        infinite: true,
        slidesToShow: 4,
        slidesToScroll: 2,
        arrows: true,
        dots: false
    });
</script>
{% endblock %}
