footer
    width 100%
    box-sizing border-box
    background $black
    padding 40px 0 40px 0
    overflow hidden
    display flex
    /* min-height 200px */
    text-transform uppercase
    flex-flow column
    .wrapper
        height 100%
        display flex
        flex-flow row wrap
        align-items end
        justify-content space-between
        flex 0 0 auto
        min-height 50px
        @media screen and (max-width: $tablet-width)
            min-height 150px
        &:first-child
            margin 0 auto 10px auto
            @media screen and (max-width: $tablet-width)
                auto
        &:last-child
            margin 10px auto 0 auto
            @media screen and (max-width: $tablet-width)
                auto
        .partners-container
            margin 0 0 0 0
            @media screen and (max-width: $tablet-width)
                margin 20px 0 0 0
                width 100%
            .partner-list
                display flex
                flex-flow row
                justify-content center
                align-content center
            .partner-item
                max-width: 200px
                @media screen and (max-width: $tablet-width)
                    max-width 50%
            .partner-item:not(:last-child)
                margin-right 10px
            .partner-title
                width 100%
                text-align center
            a img
                width 100%
                display block
                height auto
        .copy
            opacity 0.7
            margin 0
            font-size 0.5em
            letter-spacing 0.3em
            @media screen and (max-width: $tablet-width)
                line-height 2.0em
        div
            display flex
            flex-flow column
            span
                margin 0 auto 10px auto
    .footer-info
        letter-spacing 0.3em
        a
            text-transform lowercase
        @media screen and (max-width: $tablet-width)
            margin 0 0 20px 0
        strong
            @media screen and (max-width: $tablet-width)
                line-height 2.0em
    .nav-menu
        display flex
        &:first-child
            width 20%
            text-align left
            @media screen and (max-width: $tablet-width)
                width 100%
                ul
                    flex-flow row wrap
                    margin 0 0 20px 0
                    li
                        width 50%
                        margin 0 0 20px 0
                        text-align left
        &:last-child
            width 80%
            text-align right
            align-items flex-end
            justify-content flex-end
            align-self flex-start
            @media screen and (max-width: $tablet-width)
                width 100%
                text-align left
        ul
            @media screen and (max-width: $tablet-width)
                width 100%
            li
                margin 5px 0 5px 0
                &:first-child
                    margin 0px 0 5px 0
                &:last-child
                    margin 5px 0 0px 0
    .social
        display flex
        width 20%
        font-size 1.2em
        @media screen and (max-width: $tablet-width)
            margin 20px 0 0 0
            width 100%
            text-align center
        ul
            width 100%
            display flex
            flex-flow row
            align-items center
            justify-content flex-end
            li
                margin 0 10px 0 0
            @media screen and (max-width: $tablet-width)
                justify-content center
    span
        font-size 0.7em
