header
    width 100%
    box-sizing border-box
    background $black
    padding 40px 0 40px 0
    overflow hidden
    display flex
    height 160px
    text-transform uppercase
    .wrapper
        height 100%
        display flex
        flex-flow row wrap
        align-items center
    a
    img
    .nav-menu
        height 100%
        display flex
        flex-flow column wrap
    .nav-menu
        text-align right
        flex-grow 1
        ul
            align-items flex-end
            justify-content center
            li
                margin 0 0 8px 0
                &:last-child
                    margin 0 0 0 0
    img
        width auto

.horizontal-line
    width 80%
    height 1px
    background $white
    margin 20px auto 20px auto
    clear both

.hamburguer-menu
    text-align right
    box-flex 1
    flex-grow 1
    font-size 1.5em
    cursor pointer

.exit-menu
    height 50px
    width 80%
    display flex
    flex-flow row wrap
    align-items center
    justify-content space-between
    position absolute
    top 6%
    a
    img
        display block
        height 100%
        width auto
    a
        display flex
        align-items center
        justify-content center
    i
        font-size 2.0em

.nav-menu-mobile
    position fixed
    top 0 
    left 0
    right 0
    bottom 0
    width 100vw
    height 100vh
    background transparentify($black, $black, 0.95)
    color white
    z-index 10000
    letter-spacing 0.2em
    line-height 1.2em
    display flex
    flex-flow column
    align-items center
    justify-content center
    text-transform uppercase
    display none
    ul
        display flex
        flex-flow column
        width 80%
        margin 0
        align-items flex-end
        justify-content space-between
        li
            width 100%
            margin 20px 0 0 0
            &:first-child
                margin 0 0 0 0
.big-header
    height auto
    width auto
    display block
    position relative
    @media screen and (max-width: $tablet-width)
        padding 40px 0 0 0
    .wrapper
        height 120px
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)
        z-index 1000
        @media screen and (max-width: $tablet-width)
            position inherit
            transform translate(0,0)
            top 0
            left 0
            height 50px
    .header-video-wrapper
        width 75%
        max-width 1024px
        margin auto
        @media screen and (max-width: $tablet-width)
            width 100%
