header
    width 100%
    box-sizing border-box
    background $black
    padding 40px 0 40px 0
    overflow hidden
    display flex
    height 160px
    text-transform uppercase
    .wrapper
        height 100%
        display flex
        flex-flow row wrap
        align-items center
    a
    img
    .nav-menu
        height 100%
        display flex
        flex-flow column wrap
    .nav-menu
        text-align right
        flex-grow 1
        ul
            align-items flex-end
            justify-content center
            li
                margin 0 0 8px 0
                &:last-child
                    margin 0 0 0 0
    img
        width aut

.big-header
    height auto
    width auto
    display block
    position relative
    .wrapper
        height 120px
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)
        z-index 1000
    .header-video-wrapper
        width 75%
        max-width 1024px
        margin auto
