@keyframes FadeIn
    0%
        opacity 0.5
    2.38%
        opacity 1
    34.13%
        opacity 1
    36.51%
        opacity 0.5
    100%
        opacity 0.5

.red-message
    display flex
    opacity 0.5
    transition opacity 0.2s ease-in-out
    padding 0
    margin 0
    &:hover
    &.active
        opacity 1

    a
        color $red
        width 100%
        height 100%
        display block
        display flex
        flex-flow column
        align-items center
        justify-content center

.guia-messages
.messages
    display flex
    width 100%
    margin auto
    flex-flow row wrap
    justify-content space-between
    align-items stretch
    .red-message
        display flex
        font-size 0.7em
        width calc(100% / 4 - 2%)
        opacity 0.5
        transition opacity 0.2s ease-in-out
        padding 0
        margin 0
        &:hover
        &.active
            opacity 1
    a
        color $red
        width 100%
        height 100%
        display block
        padding 10px
        box-sizing border-box
        display flex
        flex-flow column
        align-items center
        justify-content center

.guia-messages
    .red-message
        display flex
        font-size 1em
        width calc(100% / 3 - 2%)

.guia-message
    color $white
    text-align center

.boutique-message
    display flex
    font-size 1em
    width calc(100% / 3 - 2%)
    margin auto
    padding 10px
    h3
        margin 0

.mosaicos
    display flex
    width 100%
    margin auto
    flex-flow row wrap
    justify-content space-between
    align-items center
    article
        font-size 0.7em
        width calc(100% / 3 - 2%)
        padding 0
        margin 0 0 20px 0
    img
        display block
        width 100%
        height auto
    .cover
        position relative
    a
        background-color $red
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        display block
        box-sizing border-box
        opacity 0.5
        transition opacity 0.2s ease
        &:hover
            opacity 0
    h3
        color $white
        font-size 1.3em
        margin 10px auto 10px auto
        text-align center

.home-foto
    display flex
    width 100%
    flex-flow row
    align-items center
    justify-content space-between
    color $white
    img
    div
        width calc(50% - 4%)
        display block
        height auto
    div
        width calc(30%)

