.personal-grid
    display flex
    flex-flow row wrap
    justify-content space-between
    article
        width calc(100% / 3 - 2%)
        margin 0 auto 40px auto
    img
        display block
        width 100%
        height auto
