.video-grid-margin
    height auto
    display flex
    flex-flow row no-wrap
    align-items center
    justify-content space-between
    padding 20px 0 0 0
    article
        width 30%
    .cover
        width 100%
        padding 0 0 70% 0
        position relative
        background-color $red
        background-image url('http://placehold.it/350x300')
        background-size cover
        background-repeat no-repeat
        background-position 50%
        margin 0 0 20px 0
    .play-button
        height 20%
        width auto
        display block
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)
    .info
        font-size 0.8em
        text-align center
        h3
            margin 0
